.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: padding 0.3s, opacity 0.2s;
}
.slide-left-enter,
.slide-right-leave-to {
  padding-left: 100vw;
  opacity: 0;
}

.slide-right-enter,
.slide-left-leave-to {
  padding-right: 100vw;
  opacity: 0;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition: opacity 0.1s;
}

.quick-fade-enter,
.quick-fade-leave-to {
  opacity: 0;
}
