// Set your colors
$primary: #d7af00;
$primary-invert: findColorInvert($primary);

$header: #f7cf00;
$header-invert: findColorInvert($header);

$danger: #c62828;
$danger-invert: findColorInvert($danger);

$success: #4caf50;
$success-invert: findColorInvert($success);

// Setup $colors to use as bulma classes (e.g. 'is-white')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "header": (
    $header,
    $header-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$dimensions: 16 24 32 48 64 96 128 256;

// Unmodified Bulma variables to expose in Vue components
$navbar-height: 3.5rem !default;
